<div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="questions">
            <h2 class=""> Example Questions </h2>
            <ul class="list-group list-group-flush transparent">
                {% for question in data.questions %}
                <li class="list-group-item transparent">
                    <a href="/?query={{ question }}">
                        {{ question }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>