<div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="questions">
            <h2 class=""> Example Questions </h2>
            <ul class="list-group list-group-flush transparent">
                <li class="list-group-item transparent">
                    <a href="/?query=What is the mode of inheritance of Wilson's disease?">
                        What is the mode of inheritance of Wilson's disease?
                    </a>
                </li>
                <li class="list-group-item transparent">
                    <a href="/?query=What%20are%20the%20symptoms%20of%20COVID-19%3F">
                        What are the symptoms of COVID-19?
                    </a>   
                </li>
                <li class="list-group-item transparent">
                    <a href="/?query=Why does my muscle hurt after exercising?">
                        Why does my muscle hurt after exercising?
                    </a>
                </li>
                <li class="list-group-item transparent">
                    <a href="/?query=What ARE the main sympotoms of a breast and colon cancer?">
                        What ARE the main sympotoms of a breast and colon cancer?
                    </a>
                </li>
                <li class="list-group-item transparent">
                    <a href="/?query=What are the types of diabetes?">
                        What are the types of diabetes?
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>