body {
    background-color: aliceblue;
}

.navbar {
    min-height: 66px;
}

.footer {
    margin-top: 5%;
    min-height: 52px;
}

.transparent {
    background-color: aliceblue;
}

.center {
    align-content: center;
}

.questions {
    margin-bottom: 30%;
}

.mb-66 {
    margin-bottom: 66%;
}

#search-bar-wrapper {
    display: flex;
    min-height: 52px;
    margin: 10rem auto 0 auto;
}

#search-bar-wrapper-up {
    margin: 0 auto;
}

.preview {
    display: -webkit-box;   
   -webkit-line-clamp: 3;   
   -webkit-box-orient: vertical;     
   overflow: hidden; 
}

#query {
    background-size: 24px;
    padding-inline-start: 25px;
    padding-inline-end: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
    border: 1px solid transparent;
    border-radius: 8px;
    min-height: 52px;
}

.display-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.display-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.highlight {
    font-weight: bold !important;
    background-color: lightgreen !important;
}

.meta-info {
    color: darkgreen;
}

.read-more {
    padding-left: 0;
}

.main {

}

.about {

}